<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <title>Cities</title>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>

<body>
<h2>List of users</h2>

<table>
  <tr>
    <th>Id</th>
    <th>Name</th>
    <th>Password</th>
    <th>Credits</th>
  </tr>

  <tr th:each="user : ${usersArray}">
    <td th:text="${user.getId()}">Id</td>
    <td th:text="${user.getName()}">Name</td>
    <td th:text="${user.getPassword()}">Password</td>
    <td th:text="${user.getCredits()}">Credits</td>
  </tr>
</table>

</body>
</html>