<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <title>Cities</title>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>

<body>
<h2>List of users</h2>

<table>
  <tr>
    <th>Id</th>
    <th>Tag</th>
    <th>Station</th>
  </tr>

  <tr th:each="train : ${trainArray}">
    <td th:text="${train.getId()}">Id</td>
    <td th:text="${train.getTag()}">Tag</td>
    <td th:text="${train.getStation()}">Station</td>
  </tr>
</table>

</body>
</html>