<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <title>Cities</title>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>

<body>
<h2>List of users</h2>

<table>
  <tr>
    <th>Id</th>
    <th>Tag</th>
    <th>Station</th>
  </tr>

  <tr th:each="train : ${trainArray}">
    <td th:text="${train.getId()}">Id</td>
    <td th:text="${train.getTag()}">Tag</td>
    <td th:text="${train.getStation()}">Station</td>
  </tr>

  <img src="https://static.wixstatic.com/media/63becb_c7acc95c34504e86a40c7f1767e4b091~mv2.gif" alt="this slowpoke moves"  width="250" />

</table>

</body>
</html>